# A Sample Data Analysis and Visualization for Operations of Security Shifts

## Import needed modules and data file
NOTE: ALL SENSITIVE INFO (SUCH AS GUARD'S NAME) HAVE BEEN REMOVED

In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_excel('data_11-12.xlsx')
# filter out all LAPD service ONLY for now
lapd_data = data[(data["JobDescription"].str.contains("LAPD", case=False)) & (~data["JobDescription"].str.contains("PTO", case=False))]

## Data Exploration and Cleaning

### Get a very general Overview of the entire dataframe

In [23]:
print(lapd_data.head())

      JobNumber        JobDescription PostDescription  ShiftID  RecordNumber  \
5921        186  LAPD - BOYLE HEIGHTS         Unarmed        1             1
5922        186  LAPD - BOYLE HEIGHTS         Unarmed        1             1
5923        186  LAPD - BOYLE HEIGHTS         Unarmed        1             1
5924        186  LAPD - BOYLE HEIGHTS         Unarmed        1             1
5925        186  LAPD - BOYLE HEIGHTS         Unarmed        1             1

     ShiftStartTime ShiftEndTime  DayNo   WorkDate  EmployeeNumber  ...  \
5921          07:30        17:30      6  11/1/2024           52096  ...
5922          07:30        18:30      2  11/4/2024           53511  ...
5923          07:30        18:30      2  11/4/2024           53511  ...
5924          07:30        18:30      3  11/5/2024           53511  ...
5925          07:30        18:30      3  11/5/2024           53511  ...

     WeeklyContractedOTHours PrimaryJobDiff CustomField  AbsenceFlag  \
5921                     NaN          False         NaN            0
5922                     NaN          False         NaN            0
5923                     NaN          False         NaN            0
5924                     NaN          False         NaN            0
5925                     NaN          False         NaN            0

      SpecialPayRate SpecialBillRate TeamTime  ReconciliationStatus  \
5921           False           False     True             Automatic
5922           False           False     True           Overwritten
5923           False           False     True           Overwritten
5924           False           False     True           Overwritten
5925           False           False     True           Overwritten

        InStatus   OutStatus
5921      Mobile  WT w/Punch
5922  WT w/Punch      Mobile
5923  WT w/Punch      Mobile
5924      Mobile  WT w/Punch
5925      Mobile  WT w/Punch

[5 rows x 54 columns]

In [24]:
print(lapd_data.describe())

         JobNumber      ShiftID  RecordNumber        DayNo  EmployeeNumber  \
count  1764.000000  1764.000000   1764.000000  1764.000000     1764.000000
mean    221.620748     1.715986      1.001701     4.028912    49267.650227
std      57.381031     0.996508      0.041216     1.643759    12081.187308
min     186.000000     1.000000      1.000000     1.000000     3000.000000
25%     189.000000     1.000000      1.000000     3.000000    53385.250000
50%     192.000000     1.000000      1.000000     4.000000    54131.000000
75%     238.000000     2.000000      1.000000     5.000000    54745.000000
max     577.000000     4.000000      2.000000     7.000000    55217.000000

             Lunch        Hours    PaidLunch    PaidHours  PayVariance  ...  \
count  1764.000000  1764.000000  1764.000000  1764.000000  1764.000000  ...
mean      0.010771     6.024960     0.013447     6.020828    -0.004416  ...
std       0.072612     3.092174     0.083072     3.094206     0.146710  ...
min       0.000000     0.000000     0.000000     0.000000    -2.170000  ...
25%       0.000000     3.500000     0.000000     3.500000     0.000000  ...
50%       0.000000     8.000000     0.000000     7.970000     0.000000  ...
75%       0.000000     8.000000     0.000000     8.030000     0.030000  ...
max       0.500000    13.000000     1.000000    13.000000     0.800000  ...

       BillableDollars  BillableOTDollars  BillableOTHours  AddlDescription  \
count      1764.000000             1764.0           1764.0              0.0
mean        193.532664                0.0              0.0              NaN
std          95.300977                0.0              0.0              NaN
min           0.000000                0.0              0.0              NaN
25%         122.600000                0.0              0.0              NaN
50%         245.200000                0.0              0.0              NaN
75%         245.200000                0.0              0.0              NaN
max         409.680000                0.0              0.0              NaN

       TotalRegHours  WeeklyContractedRegHours  TotalOTHours  \
count    1764.000000                       0.0        1764.0
mean     1046.936264                       NaN           0.0
std      1012.422887                       NaN           0.0
min         3.670000                       NaN           0.0
25%       337.600000                       NaN           0.0
50%       628.110000                       NaN           0.0
75%       866.500000                       NaN           0.0
max      2863.940000                       NaN           0.0

       WeeklyContractedOTHours  CustomField  AbsenceFlag
count                      0.0          0.0  1764.000000
mean                       NaN          NaN     0.024943
std                        NaN          NaN     0.155997
min                        NaN          NaN     0.000000
25%                        NaN          NaN     0.000000
50%                        NaN          NaN     0.000000
75%                        NaN          NaN     0.000000
max                        NaN          NaN     1.000000

[8 rows x 32 columns]